@import '../../styles/var';

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.backLink {
    display: flex;
    align-items: center;
    margin-top: auto;
    width: max-content;
    min-height: 25px;
    color: $blackColor;

    @include nunitoBoldFont;
}

.backIcon {
    width: 16px;
    height: 9px;
    margin-right: 16px;
    transform: rotate(-90deg);

    path {
        fill: $blackColor;
    }
}
